@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.base {
  @include button;
  width: 100%;
}

@keyframes shake {
  10%,
  90% {
    transform: translateY(-1px);
  }
  20%,
  80% {
    transform: translate3d(2px);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px);
  }
  40%,
  60% {
    transform: translate3d(4px);
  }
}

.btnText {
  position: relative;
  z-index: 2;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba($ui-active, 0.2);
  border-right: 2px solid $ui-active;
  transition: width 0.1s linear;
  z-index: 1;
}
