@use "@styles/variables" as *;

.header {
  padding: 1.5rem;
  border-bottom: 1px solid $ui-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: $ui-accent;
    margin: 0;
    font-size: 1.2rem;
  }
}

.body {
  padding: 1.5rem;
  color: $ui-light;
  font-size: 0.95rem;
  line-height: 1.6;
}

.footer {
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  color: $text-gray;
  font-size: 1.5rem;
  padding: 0;
  cursor: pointer;
  &:hover {
    color: $ui-white;
  }
}

.button {
  transition: all 0.2s ease;

  &__warning {
    border: 1px solid $ui-accent;
    color: $ui-accent;

    &:hover {
      background: rgba($ui-warning, 0.1);
      color: $ui-warning;
      border-color: $ui-warning;
    }
  }
}
