@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.base {
  @include button;
  position: fixed;
  width: 20rem;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: $ui-accent;
  color: $ui-black;
  border: none;
  font-weight: bold;

  &:hover:not(:disabled) {
    background: lighten($ui-accent, 10%);
    box-shadow: 0 15px 40px rgba($ui-black, 0.6);
  }

  &:active,
  &:hover:not(:disabled):active {
    background: $ui-active;
    color: $ui-white;
  }

  &__success {
    background: $ui-black;
    color: $ui-success;
    border: 1px solid $ui-success;

    &.base:hover {
      background: $ui-black;
      color: $ui-success;
      box-shadow: 0 0 15px rgba($ui-success, 0.2);
      border-color: $ui-success;
    }
  }
}
