@use "@styles/variables" as *;

.base {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $ui-dark;
  padding: 8px 12px;
  border-radius: 4px;
}

.input {
  appearance: none;
  width: 34px;
  height: 18px;
  background: $ui-light-gray;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s;

  &:checked {
    background: $accent-gold;
    &::before {
      transform: translateX(16px);
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
  }
}
