@use "@styles/variables" as *;

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.radioLabel {
  cursor: pointer;
  position: relative;
}

.radioInput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .radioContent {
    // background: $ui-light-gray;
    border-color: $ui-active;
    color: $ui-active;
    background: rgba($ui-active, 0.1);
    box-shadow: 0 0 15px rgba($ui-active, 0.2);

    .indicator {
      background: $ui-active;
      box-shadow: 5px 5px 20px rgba($ui-active, 0.2);
    }
  }
}

.radioContent {
  background: $ui-gray;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  user-select: none;

  &:hover {
    background: $ui-light-gray;
  }
}

.indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
  // border: 2px solid $ui-silver;

  @each $layer, $color in $layer-colors {
    &.#{$layer} {
      background: $color;
    }
  }
}
