@use "@styles/variables" as *;

.glitchTitle {
  color: $ui-accent;
  font-size: 3rem;
  letter-spacing: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  gap: 1rem;

  .qualitySymbol {
    color: $text-gray;
    font-size: 2.5rem;
  }

  animation: masterworkGlow 3s infinite alternate;
}
