@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.base {
  @include page;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 1fr minmax(30px, auto);
  grid-template-areas:
    "left map right"
    "left status right";
  width: 100vw;
  height: 100%;
  background-color: $bg-dark;
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
}
